/* @override http://localhost:3000/stylesheets/application.css */

body {
	background-image: url(../images/texture2.jpg);
	font-size: 14px;
}

.divider {
	height: 6px;
	background-image: url(../images/divider.png);
	margin: 20px 0;
}

h2 {
	font-weight: bold;
	font-size: 45px;
	letter-spacing: -1px;
	color: #632f2f;
	padding: 0 5px 2px;
	margin-bottom: 0.5em;
	line-height: 54px;
	float: left;
	font-family: 'Yanone Kaffeesatz', Helvetica, Arial, sans-serif;
	background: rgba(255,254,255,0.61);
}

p, span {
	clear: left;
	color: #5f3f29;
	text-shadow: #e3ddcf 0 1px 0;
}

div.field_with_errors {
	display: inline;
}

.container {
	position: relative;
}

/* @group Forms */

input[type='text'] {
	background-image: url(../images/input_bg.jpg);
	border-style: none;
	height: 32px;
	font-size: 24px;
	padding: 4px 4px 0;
}

.error {
	padding-top: 5px;
	color: #8e4715;
	text-shadow: #ebd4ab 0 1px 1px;
}

/* @end */

/* @group Title */

.title {
	color: #265bb1;
}

.title_alt {
	color: #c83f85;
}

/* @end */

/* @group Header */

#header {
	background: url(../images/header_bg.png) repeat-x;
	padding-top: 10px;
}

#header h1 {
	color: #5f3f29;
	text-shadow: #e3ddcf 0 1px 0;
	font: 60px 'Yanone Kaffeesatz', Helvetica, Arial, sans-serif;
	text-align: center;
	margin: 0;
}

#header h1 a {
  text-decoration: none;
}

#header span.subtitle {
	margin-top: -10px;
	display: block;
	color: #5f3f29;
	text-shadow: #ede3cb 0 1px 0;
	font: 20px 'Yanone Kaffeesatz', Helvetica, Arial, sans-serif;
	text-align: center;
}

/* @group stats */

#stats, #multi_stats {
	position: absolute;
	top: -5px;
	right: 10px;
	width: 195px;
	height: 65px;
	padding: 5px 40px;
	background-image: url(../images/stats_bg.png);
	list-style-type: none;
	font: 23px 'Reenie Beanie', arial, serif;
	text-align: center;
	color: #0e2b7c;
	text-shadow: #fdfdfd 0 1px 0;
}

#multi_stats {
	background-image: url(../images/stats2_bg.png);
  left: 40px;
}

#multi_stats .my_turn {
  line-height: 40px;
}

/* @end */

/* @end */

/* @group Footer */

#footer p {
	text-align: center;
}

/* @end */

/* @group Tiles */

ul.tiles {
	position: relative;
	list-style-type: none;
}

ul.tiles li {
	display: inline;
}

ul.tiles a {
	border-radius: 6px;
	-moz-border-radius: 6px;
	float: left;
	width: 120px;
	height: 120px;
	background: white;
	padding: 5px;
	margin: 10px 10px;
	-webkit-transition: -webkit-transform .15s linear;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.35);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.35);
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
}


ul.tiles a:hover {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	position: relative;
	z-index: 5;
}

ul.tiles a.highlighted {
	-webkit-transform: scale(1.1) !important;
	-moz-transform: scale(1.1) !important;
}

ul.tiles img {
	border-radius: 3px;
	-moz-border-radius: 3px;
	width: 120px;
	height: 120px;
	margin: 0;
	padding: 0;
}

ul.tiles.large a, ul.tiles.large img {
	width: auto;
	height: auto;
}

/* @group Rotations */

ul.tiles li:nth-child(even) a {
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
}

ul.tiles li:nth-child(3n) a {
	-webkit-transform: none;
	-moz-transform: none;
	position: relative;
	top: -5px;
}

ul.tiles li:nth-child(3n) a:hover {
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
}

ul.tiles li:nth-child(7n) a {
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	position: relative;
	right: 5px;
}

ul.tiles li:nth-child(8n) a {
	position: relative;
	top: 8px;
	right: 5px;
}

ul.tiles li:nth-child(11n) a {
	position: relative;
	top: 3px;
	left: -5px;
}

/* @end */


/* @end */

/* @group Homepage */

ul.tiles li.offset {
	display: block;
	position: absolute;
	margin-top: 100px;
	margin-left: 180px;
}

#new_game_form span {
	line-height: 20px;
	height: 20px;
	vertical-align: 3px;
	display: inline-block;
	padding: 0 5px;
}

/* @end */

/* @group Placeholder */

/*match placeholder/watermark padding to border+padding for input element*/

#new_game_form input[type='text'] {
	width: 15em;
	font: normal 18px Helvetica, Arial, sans-serif;
	color: #632f2f;
	line-height: 32px;
	height: 32px;
}

label.placeholder {
	cursor: text;
	padding: 10px 4px 0;
	line-height: 32px;
	color: #b19e91;
	font: normal 18px Helvetica, Arial, sans-serif;
}

/* html5 placeholder support */

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: #b19e91;
	font: normal 20px Helvetica, Arial, sans-serif;
}

input:placeholder, textarea:placeholder {
	color: #b19e91;
	font: normal 18px Helvetica, Arial, sans-serif;
}

/* @end */

/* @group Button */



button, a.button {
	border-style: none;
	height: 36px;
	background: #fff5df url(../images/button_bg.png) repeat-x 0 bottom;
	color: #999488;
	text-shadow: white 0 1px 0;
	font: bold 14px/32px Helvetica, Arial, sans-serif;
	
	border-radius: 20px;
	-moz-border-radius: 20px;
	vertical-align: 4px;
	
	-webkit-box-shadow: rgba(0, 0, 0, 0.496094) 0px 1px 3px;
	-moz-box-shadow: rgba(0, 0, 0, 0.496094) 0px 1px 3px;
	cursor: pointer;
	width: 120px;
}

a.button {
	margin: 0 auto;
	display: block;
	height: 36px;
	line-height: 36px;
	width: 120px;
	padding: 0 10px;
	text-decoration: none;
	text-align: center;
}

a.button img {
	vertical-align: -3px;
	margin-left: -4px;
}

a.home_button {
	margin: 0 15px 0 0;
}

/*a.facebook_button img {
  margin-top:5px;
  margin-bottom: -5px;
}

a.facebook_button {
  margin-right: 20px;
}

a.twitter_button {
  margin-left: 20px;
}*/


button:hover, a.button:hover {
	background-color: #f9ead4;
}

/* @end */

.new_game{
  text-decoration: none;
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center
}

/* @group Tables */

tbody tr:nth-child(even) td, tbody tr.even td {
	background: rgba(255,254,255,0.31);
}

td {
	background: rgba(255,254,255,0.21);
}

td.r {
  text-align: right;
}

th {
  color: #5f3f29;
  text-shadow: #e3ddcf 0 1px 0;
}

th.center {
  text-align: center;
}

/* @end */

