/* @override http://localhost:3000/stylesheets/application.css */

body {
	background-image: url(../images/texture.jpg);
}

/* @group Header */

#header {
	background: url(../images/header_bg.png) repeat-x;
	padding-top: 10px;
	margin-bottom: 50px;
}

#header h1 {
	color: #5f3f29;
	text-shadow: #e1d2b1 0 1px 0;
	font: 60px 'Yanone Kaffeesatz', Helvetica, Arial, sans-serif;
	text-align: center;
	margin: 0;
}

#header span.subtitle {
	margin-top: -10px;
	display: block;
	color: #5f3f29;
	text-shadow: #e1d2b1 0 1px 0;
	font: 20px 'Yanone Kaffeesatz', Helvetica, Arial, sans-serif;
	text-align: center;
}

/* @end */

/* @group Tiles */

ul.tiles {
	list-style-type: none;
}

ul.tiles li {
	display: inline;
}

ul.tiles a {
	float: left;
	width: 120px;
	height: 120px;
	background: white;
	padding: 5px;
	margin: 10px 10px;
	-webkit-transition: -webkit-transform .15s linear;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
}

ul.tiles a:hover {
	-webkit-transform: scale(1.25) !important;
	position: relative;
	z-index: 5;
}

ul.tiles img {
	width: 120px;
	height: 120px;
	margin: 0;
	padding: 0;
}

/* @group Rotations */

ul.tiles li:nth-child(even) a {
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
}

ul.tiles li:nth-child(3n) a {
	-webkit-transform: none;
	-moz-transform: none;
	position: relative;
	top: -5px;
}

ul.tiles li:nth-child(7n) a {
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	position: relative;
	right: 5px;
}

ul.tiles li:nth-child(8n) a {
	position: relative;
	top: 8px;
	right: 5px;
}

ul.tiles li:nth-child(11n) a {
	position: relative;
	top: 3px;
	left: -5px;
}

/* @end */

/* @end */

