-#%h2
  Game
  = @game.id

%ul.tiles
  - @game.tiles.each do |tile|
    %li
      - if tile.visible?
        %a{ :href => '#'}= flickr_img(tile.flickr_image, :size => :small)
      - else
        %a{ :href => '#', :class => 'hidden_image'}= image_tag('card_back.jpg')
